.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    min-height: 600px;
}

.faq-title {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 50px;
}