.custom-card {
    width: 65%;
    margin-top: 50px;
    box-shadow: 0px 0px 15px 1px grey;
    border-radius: 7%;
}

.custom-card-header {
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 19px;
}
.custom-card-body {

}

.custom-card-title {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 23px;
}

.custom-form-row {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.checkbox-label {
    width: 25px;
    height: 25px;
    border-radius: 500%;
}

.checkbox-label-blue {
    background-color: blue;
}

.checkbox-label-red {
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.checkbox-label-green {
    background-color: green;
}

.custom-colors input {
    display: none;
}